.introWrap{
    height: 100dvh;
    background:url('/images/mainBg.jpg') no-repeat center center / cover;
    font-family: 'pretendard';
    padding:2rem;

    .subTit{font-size:4rem; font-weight: 700;}
    .tit{font-size:6rem;}
    .txt{font-size:2rem;}
}